body{
	width:auto;
	height: 100%;
	background-image:url(../img/bg.png);
	background-repeat: no-repeat;
	background-size:contain;
	color: #FFF;
}

h1{
	text-align: center;
	font-size: 2em;
}
h2{
	font-size: 1.4em;
}
.panel-body{color: rgb(35,126,196);}
.focus{
	font-size: 1.2em;
}
header{
	text-align: center;
	height: 280px;
}

header img{
	height: 100%;
}

footer{
	border-top:2px solid #FFF;
	padding: 10px;
}

.main{
	background-color: rgba(35,126,196,0.8);
	border: 1px #FFF solid;
	border-radius: 6px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
	.dl-horizontal dt {
		width: 90px;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 90px
	}
}

form, .modal{
	color: #555;
}

.control-unit{
	padding-top: 7px;
	margin-bottom: 0px;
	text-align: left;
}

.input-group[class*="col-"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;

}

.separate{
	margin-top: 34px;
}
strong{font-size: 1.2em;}

.longword .control-label{
	text-align: left;
}

.modal-title{color: #000;}

.modal li{
	line-height: 1.5em;
	margin-top: 20px;
	margin-right: 20px;
}
